/**** PAGE SPECIFIC STYLES ****/
body {
	background-color:#fff;
	color:#666;
	border:none;
	padding:0;
	margin:0;
	background-image: url(http://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Epiphragma_einer_Weinbergschnecke.JPG/220px-Epiphragma_einer_Weinbergschnecke.JPG),
				url(http://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Cooked_snails.JPG/220px-Cooked_snails.JPG);
	background-repeat: no-repeat;
	background-position: 25% 25%, 75% 75%;
}

.doc {
	background: url(http://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Slug_pic.jpg/220px-Slug_pic.jpg) no-repeat,
				url(http://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Slug_in_VanDusen_Botanical_Garden.jpg/220px-Slug_in_VanDusen_Botanical_Garden.jpg) no-repeat 100% 100%,
				-webkit-linear-gradient(top, white, rgba(200,200,200,.5), #CCC);
	background-size: 100px 50px, 25%, 100%;
}
.block {
	position:absolute;
	height:100px;
	width:100px;
	top:0;
	border: solid 0 blue;
}
.block1 {
	top:50px;
	left:900px;
	margin:10px 8px 15px 30px;
	padding:10px 8px 15px 30px;
	background-image: url(http://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Slug_pic.jpg/220px-Slug_pic.jpg),
				url(http://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Slug_in_VanDusen_Botanical_Garden.jpg/220px-Slug_in_VanDusen_Botanical_Garden.jpg);
	background-repeat:no-repeat;
	background-color:#ccc;
	background-position:100% 100%, 0 0;
	background-size: 70px 50px, 25%, 100%;
	
	box-shadow: 2px 2px 3px 5px rgb(255, 255, 0),
				0 0 5px red inset,
				3px 3px 10px 12px #ccc;
}
.block2 {
	top:200px;
	left:825px;
	background-color:#eee;
	padding: 10px;
	margin:20px 30px;
}
.block3 {
	top:145px;
	left:520px;
	background-color:#666;
	padding:1px;
	margin:1px;
}
.block4 {
	top:325px;
	left:75px;
	background-color:#999;
}
.nav {
	overflow:hidden;
	background-color:#666;
}
.nav li {
	list-style:none;
}
.horiz li {
	float:left;
}
.nav a {
	float:left;
	padding: 6px 12px;
	color:#fff;
	text-decoration:none;
	font-family: Helvetica, Arial, sans-serif;
}
.header, .content {
	margin: 100px auto;
	width:70%;
}
.content {
	padding:20px;
	text-shadow: 1px 1px mediumspringgreen;
}
.right {
	float:right;
}
.sidenote {
	float:left;
	width:250px;
}
.sidenote img {
	max-width:250px;
}


/**** CODESIGN STYLES ****/
* {
    box-sizing: border-box;
    image-rendering: optimizeSpeed;
    image-rendering: -webkit-optimize-contrast;
}
.hover, .selected {
	outline:dashed 1px rgba(0,0,0,.5);
	-webkit-transition: outline ease-in-out .5s;
}
.sleep .hover, .sleep .selected {
	outline-color:rgba(0,0,0,0);
}
body.hover, html.hover {
	outline:none;
}
#snapTest {
	position:absolute;
	top:0;
	left:0;
	width:12px;
	height:12px;
	background-color:red;
	z-index:1000;
	display:none;
}
.designMode .active {
	-webkit-transition: all ease-in-out .2s;
	outline: solid 1px rgba(0, 0, 100, .4);
	box-shadow: 0 0 5px rgb(0,0,100);
}
.designMode.sleep .active {
	outline: solid 1px rgba(0, 0, 100, 0);
	box-shadow: 0 0 5px rgba(0,0,100,0);
}