/**** CODESIGN STYLES ****/
* {
    box-sizing: border-box;
}
.hover {
	outline:dashed 1px rgba(0,0,0,.5);
}
body.hover, html.hover {
	outline:none;
}


/**** PAGE SPECIFIC STYLES ****/
body {
	background-color:#fff;
	color:#666;
	border:none;
	padding:0;
	margin:0;
}
.block1, .block2, .block3, .block4 {
	position:absolute;
	height:100px;
	width:100px;
	top:0;
	/*background-color:#eee !important;*/
	border: solid 0 blue;
}
.block1 {
	top:30px;
	left:500px;
	background-color:#ccc;
	margin:10px 8px 15px 30px;
	padding:10px 8px 15px 30px;
}
.block2 {
	top:50px;
	left:300px;
	background-color:#eee;
	padding: 10px;
	margin:20px 30px;
}
.block3 {
	top:350px;
	left:500px;
	background-color:#666;
	padding:1px;
	margin:1px;
}
.block4 {
	top:350px;
	left:150px;
	background-color:#999;
	padding:0;
	margin:0;
}
.content {
	margin: 3em 12em;
	padding:20px;
	width:50%;
}