<!DOCTYPE HTML>
<html>
 <head>
 
 <title>coDEsign</title>
 <link href="default.css" media="all" rel="stylesheet">
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
 <script type="text/javascript" src="underscore.js"></script>
 <script type="text/javascript" src="default.js"></script>
 
 </head>
 <body>
	<div class="doc">
		<header class="hd">
			<h1 class="logo">coDEsign</h1>
			<div id="searchModule">
			<script type="text/template" id="searchTemplate">
			<div>
				<form method="post" action="." id="searchForm">
					<% if(queryLen != undefined) { %><span class="queryLen"><%=queryLen %> element<% if(queryLen > 1){%>s<%}%> found</span><% } %>
					<input type="search" class="search" id="searchInput" placeholder="div.classname > span" value="<%= query %>">
				</form>
				<ul class="hierarchy">
					<% _.each(elements, function(el, i) { %>
					<li id="i<%= i %>" title="<%= el.name %>">
						<span class="tagName"><%=el.tagName%></span><span class="attrs"><%= el.name %></span>
					</li>
					<% }); %>
				</ul>
			</div>
			</script>
			</div>
		</header>
		<section class="rightnav">
			<div class="ct" id="propertiesModule">
				<input class="newStyle" type="text" placeholder="new style">
				<span class="intro">click on an element to style it<br>
				[stats about this page here]</span>
			<script type="text/template" id="propertiesTemplate">
			<div>
				<div class="selectorsHolder">
					<ul class="selectors">
					<% _.each(rules, function(rule) { %>
						<li class="<%= rule.activeClass %>" id="rule<%= rule.id %>">
							<span class="sheet"><%= rule.sheet %></span>
							<span class="selector"><%= rule.selector %></span>
						</li>
					<% }); %>
					</ul>
				</div>
				<div class="tabs modes" id="modes">
					<a href="#" id="mode0"<% if (curMode == 0) { %> class="active"<% } %>>layout</a> | 
					<a href="#" id="mode1"<% if (curMode == 1) { %> class="active"<% } %>>decoration</a> | 
					<a href="#" id="mode2"<% if (curMode == 2) { %> class="active"<% } %>>typography</a>
				</div>
				<div class="styles">
					<% if (curMode === 0) { %>
					<ul class="props">
						<li><span>display:</span>
							<ul class="inlineBtns" id="display">
								<li<% if (styles['display'] == 'none') { %> class="active"<% } %>>none<span class="remove"></span></li>
								<li<% if (styles['display'] == 'inline') { %> class="active"<% } %>>inline<span class="remove"></span></li>
								<li<% if (styles['display'] == 'inline-block') { %> class="active"<% } %>>inline-block<span class="remove"></span></li>
								<li<% if (styles['display'] == 'block') { %> class="active"<% } %>>block<span class="remove"></span></li>
								<!--<li>table</li>
								<li>table-cell</li>-->
							</ul>
						</li>
						<li><span>position:</span>
							<ul class="inlineBtns" id="position">
								<li<% if (styles['position'] == 'static') { %> class="active"<% } %>>static<span class="remove"></span></li>
								<li<% if (styles['position'] == 'relative') { %> class="active"<% } %>>relative<span class="remove"></span></li>
								<li<% if (styles['position'] == 'absolute') { %> class="active"<% } %>>absolute<span class="remove"></span></li>
								<li<% if (styles['position'] == 'fixed') { %> class="active"<% } %>>fixed<span class="remove"></span></li>
							</ul>
						</li>
						<li><span>float:</span>
							<ul class="inlineBtns" id="float">
								<li<% if (styles['float'] == 'left') { %> class="active"<% } %>>left<span class="remove"></span></li>
								<li<% if (styles['float'] == 'right') { %> class="active"<% } %>>right<span class="remove"></span></li>
								<li<% if (styles['float'] == 'none') { %> class="active"<% } %>>none<span class="remove"></span></li>
							</ul>
						</li>
						<li><span>clear:</span>
							<ul class="inlineBtns" id="clear">
								<li<% if (styles['clear'] == 'left') { %> class="active"<% } %>>left<span class="remove"></span></li>
								<li<% if (styles['clear'] == 'right') { %> class="active"<% } %>>right<span class="remove"></span></li>
								<li<% if (styles['clear'] == 'none') { %> class="active"<% } %>>none<span class="remove"></span></li>
							</ul>
						</li>
						<li><span>visibility:</span>
							<ul class="inlineBtns" id="visibility">
								<li<% if (styles['visibility'] == 'visible') { %> class="active"<% } %>>visible<span class="remove"></span></li>
								<li<% if (styles['visibility'] == 'hidden') { %> class="active"<% } %>>hidden<span class="remove"></span></li>
								<li<% if (styles['visibility'] == 'collapse') { %> class="active"<% } %>>collapse<span class="remove"></span></li>
							</ul>
						</li>
						<li><span>overflow:</span>
							<ul class="inlineBtns" id="overflow">
								<li<% if (styles['overflow'] == 'visible') { %> class="active"<% } %>>visible<span class="remove"></span></li>
								<li<% if (styles['overflow'] == 'hidden') { %> class="active"<% } %>>hidden<span class="remove"></span></li>
								<li<% if (styles['overflow'] == 'scroll') { %> class="active"<% } %>>scroll<span class="remove"></span></li>
								<li<% if (styles['overflow'] == 'auto') { %> class="active"<% } %>>auto<span class="remove"></span></li>
							</ul>
						</li>
					</ul>
					<% } else if (curMode == 1) { %>
					<p><a href="#" class="btn">Add</a></p>
					<ul class="bgs">
						<% _.each(backgrounds, function(bg) { %>
						<li id="bgi<%=bg.id%>"<% if(bg.id==bgId) { %> class="selected"<%}%>>
							<a href="#" class="rem">x</a>
							<span class="edit">edit</span>
							<h3><span class="bgLabel">background: </span><span class="bgName"><%=bg.image.getName() %></span></h3>
							<div style="background-image:<%=bg.image %>, url(layout/grid.png);" class="bgThumb"></div> 
							<div class="bgControls">
							repeat: <select name="repeat">
								<option value="">--- not set ---</option>
								<option<% if(bg.repeat == 'no-repeat') {%> selected="selected"<%}%>>no-repeat</option>
								<option<% if(bg.repeat == 'repeat-x') {%> selected="selected"<%}%>>repeat-x</option>
								<option<% if(bg.repeat == 'repeat-y') {%> selected="selected"<%}%>>repeat-y</option>
								<option<% if(bg.repeat == 'repeat') {%> selected="selected"<%}%>>repeat</option>
							</select> <br>
							attachment:<%=bg.attachment%> <select name="attachment">
								<option value="">--- not set ---</option>
								<option<% if(bg.attachment == 'scroll') {%> selected="selected"<%}%>>scroll</option>
								<option<% if(bg.attachment == 'fixed') {%> selected="selected"<%}%>>fixed</option>
								<option></option>
							</select> <br>
							origin: <select name="origin">
								<option value="">--- not set ---</option>
								<option<% if(bg.origin == 'padding-box') {%> selected="selected"<%}%>>padding-box</option>
								<option<% if(bg.origin == 'border-box') {%> selected="selected"<%}%>>border-box</option>
								<option<% if(bg.origin == 'content-box') {%> selected="selected"<%}%>>content-box</option>
							</select> <br>
							clip:<%=bg.clip%> <select name="clip">
								<option value="">--- not set ---</option>
								<option<% if(bg.clip == 'padding-box') {%> selected="selected"<%}%>>padding-box</option>
								<option<% if(bg.clip == 'border-box') {%> selected="selected"<%}%>>border-box</option>
								<option<% if(bg.clip == 'content-box') {%> selected="selected"<%}%>>content-box</option>
								<option></option>
							</select>
							</div>
						</li>
						<% }); %>
						<% _.each(shadows, function(shad) { %>
						<li id="shi<%=shad.id%>"<% if(shad.id==bgId) { %> class="selected"<%}%>>
							<a href="#" class="rem">x</a>
							<span class="edit">edit</span>
							<h3><span class="shLabel">box-shadow</span></h3>
							<div style="background:url(layout/grid.png); background-size:auto;" class="bgThumb">
								<div class="thumbBox" style="box-shadow:<%=shad %>;"></div>
							</div> 
							<div class="shControls">
								<label>color:</label> <input type="color" name="color" value="<%=shad.color.hex %>" /><br>
								<input type="checkbox" name="inset" <% if (shad.inset) { %> checked<%}%> /> <label>inset</label>
							</div>
						</li>
						<% }); %>
					</ul>
					
					<% } else if (curMode == 2) { %>
					<ul class="props">
						<li><span>font-family:</span>
							<ul class="inlineBtns" id="font-family">
								<li<% if (styles['font-family'] == 'Helvetica, Arial, sans-serif') { %> class="active"<% } %>>Helvetica, Arial, sans-serif<span class="remove"></span></li>
								<li<% if (styles['font-family'] == 'Georgia, Times, serif') { %> class="active"<% } %>>Georgia, Times, serif<span class="remove"></span></li>
							</ul>
						</li>
						<li><span>font-weight:</span>
							<ul class="inlineBtns" id="font-weight">
								<li<% if (styles['font-weight'] == 'normal') { %> class="active"<% } %>>normal<span class="remove"></span></li>
								<li<% if (styles['font-weight'] == 'bold') { %> class="active"<% } %>>bold<span class="remove"></span></li>
							</ul>
						</li>
						<li><span>font-style:</span>
							<ul class="inlineBtns" id="font-style">
								<li<% if (styles['font-style'] == 'normal') { %> class="active"<% } %>>normal<span class="remove"></span></li>
								<li<% if (styles['font-style'] == 'italic') { %> class="active"<% } %>>italic<span class="remove"></span></li>
							</ul>
						</li>
						<li><span>font-variant:</span>
							<ul class="inlineBtns" id="font-variant">
								<li<% if (styles['font-variant'] == 'normal') { %> class="active"<% } %>>normal<span class="remove"></span></li>
								<li<% if (styles['font-variant'] == 'small-caps') { %> class="active"<% } %>>small-caps<span class="remove"></span></li>
							</ul>
						</li>
						<li><span>text-decoration:</span>
							<ul class="inlineBtns" id="text-decoration">
								<li<% if (styles['text-decoration'] == 'none') { %> class="active"<% } %>>none<span class="remove"></span></li>
								<li<% if (styles['text-decoration'] == 'underline') { %> class="active"<% } %>>underline<span class="remove"></span></li>
								<li<% if (styles['text-decoration'] == 'line-through') { %> class="active"<% } %>>line-through<span class="remove"></span></li>
								<li<% if (styles['text-decoration'] == 'overline') { %> class="active"<% } %>>overline<span class="remove"></span></li>
							</ul>
						</li>
						<li><span>text-transform:</span>
							<ul class="inlineBtns" id="text-transform">
								<li<% if (styles['text-transform'] == 'normal') { %> class="active"<% } %>>normal<span class="remove"></span></li>
								<li<% if (styles['text-transform'] == 'capitalize') { %> class="active"<% } %>>capitalize<span class="remove"></span></li>
								<li<% if (styles['text-transform'] == 'uppercase') { %> class="active"<% } %>>uppercase<span class="remove"></span></li>
								<li<% if (styles['text-transform'] == 'lowercase') { %> class="active"<% } %>>lowercase<span class="remove"></span></li>
							</ul>
						</li>
						<li><span>white-space:</span>
							<ul class="inlineBtns" id="white-space">
								<li<% if (styles['white-space'] == 'normal') { %> class="active"<% } %>>normal<span class="remove"></span></li>
								<li<% if (styles['white-space'] == 'pre') { %> class="active"<% } %>>pre<span class="remove"></span></li>
								<li<% if (styles['white-space'] == 'nowrap') { %> class="active"<% } %>>nowrap<span class="remove"></span></li>
							</ul>
						</li>
					</ul>
					<% } %>
					<ul class="props">
					<% _.each(properties, function(prop) { %>
						<li><label><%= prop.attr %></label> : 
						<select name="<%= prop.attr %>" class="prop">
							<option value="">---------</option>
							<% _.each(prop.values, function(val) { %>
							<option<% if(styles[prop.attr] == val) {%> selected<%}%> value="<%= val %>"><%= val %></option>
							<% }); %>
						</select>
					<% }); %>
					</ul>
				</div>
			</div>
			</script>
			</div>
		</section>
		<div class="holder" id="pageHolder">
			<div id="coverSheet" class="coverSheet"></div>
			<div id="grid" class="grid"></div>
			<div id="controls" class="controls margin layoutMode">
				<div id="box" class="box">
					<div id="padding" class="pad"></div>
				</div>
			</div>
			
			<iframe src="iframe.html" class="document" id="iframe"></iframe>
		</div>
	</div>
 </body>
</html>