<!DOCTYPE HTML>
<html>
 <head>
 
 <title>coDEsign</title>
 <link href="default.css" media="all" rel="stylesheet">
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
 <script type="text/javascript" src="underscore.js"></script>
 <script type="text/javascript" src="default.js"></script>
 
 </head>
 <body>
	<div class="doc">
		<header class="hd">
			<h1 class="logo">coDEsign</h1>
			<input type="search" class="search" placeholder="div.classname > span (or) font-weight:bold">
		</header>
		<section class="rightnav">
			<div class="ct" id="propertiesModule">
				<input class="newStyle" type="text" placeholder="new style">
				<span class="intro">click on an element to style it<br>
				[stats about this page here]</span>
			<script type="text/template" id="propertiesTemplate">
			<div>
				<div class="selectorsHolder">
					<ul class="selectors">
					<% _.each(rules, function(rule) { %>
						<li class="<%= rule.activeClass %>" id="rule<%= rule.id %>">
							<span class="sheet"><%= rule.sheet %></span>
							<span class="selector"><%= rule.selector %></span>
						</li>
					<% }); %>
					</ul>
				</div>
				<div class="tabs modes" id="modes">
					<a href="#" id="mode0"<% if (curMode == 0) { %> class="active"<% } %>>layout</a> | 
					<a href="#" id="mode1"<% if (curMode == 1) { %> class="active"<% } %>>decoration</a> | 
					<a href="#" id="mode2"<% if (curMode == 2) { %> class="active"<% } %>>text</a>
				</div>
				<div class="styles">
					<ul class="props">
					<% _.each(properties, function(prop) { %>
						<li><label><%= prop.attr %></label> : 
						<select name="<%= prop.attr %>" class="prop">
							<option value="">---------</option>
							<% _.each(prop.values, function(val) { %>
							<option<% if(styles[prop.attr] == val) {%> selected<%}%> value="<%= val %>"><%= val %></option>
							<% }); %>
						</select>
					<% }); %>
					</ul>
				</div>
			</div>
			</script>
			</div>
		</section>
		<div class="holder" id="pageHolder">
			<div id="coverSheet" class="coverSheet"></div>
			<div id="grid" class="grid"></div>
			<div id="controls" class="controls margin layoutMode">
				<div id="box" class="box">
					<div id="padding" class="pad"></div>
				</div>
			</div>
			
			<iframe src="iframe.html" class="document" id="iframe"></iframe>
		</div>
	</div>
 </body>
</html>